body {
    background-color: white;
    margin: auto;
    font-family: "Playwrite DE Grund", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

header {
    padding: 10px;
}

header h1 {
    text-align: center;
    color: gray;
    font-size: 60px;
    letter-spacing: 1px;
}

header h2 {
    text-align: center;
    font-size: medium;
    text-transform: lowercase;
    letter-spacing: 0px;
    color: rgb(255, 27, 179)
}

section {
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 80%;
    border-radius: 5px;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

section div {
    flex-basis: 45%;
    box-sizing: content-box;
    text-align: center;

}

.avatar {
    border: none;
    text-align: center;
}

.avatar img {
    width: 100%;
    object-fit: cover;
}

.avatar h3 {
    font-size: 50px;
    font-style: italic;
    color: rgb(255, 27, 179);
}

/********************************/
form {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background-color: gainsboro;
    font-family: "Playwrite DE Grund", cursive;
}

form input[type=text],
[type=tel],
[type=email],
[type=number] {
    margin: auto;
    width: 40%;
    height: 30px;
    border: none;
    border-radius: 5px;
    background: white;
    padding: 5px;
    outline-color: rgb(255, 27, 179);
    transition: ease 0.5s;
    font-family: "Playwrite DE Grund", cursive;
}

form input::-webkit-input-placeholder {
    color: gray;
    font-weight: normal;
    opacity: 0.3;
    font-family: "Playwrite DE Grund", cursive;
}

form select {
    height: 30px;
    width: 83%;
    height: 30px;
    border: none;
    font-family: "Playwrite DE Grund", cursive;

}

.paragraphechoix {
    color: white;
    font-weight: normal;
}

textarea {
    width: 81.5%;
    color: black;
    padding: 7px;
    border: none;
    outline-color: rgb(255, 27, 179);
    border-radius: 5px;
}

textarea::-webkit-input-placeholder {
    opacity: 0.3;
}

form button {
    width: 80%;
    height: 50px;
    border: none;
    background-color: rgb(255, 27, 179);
    color: white;
    letter-spacing: 2px;
    font-weight: bold;
    border-radius: 5px;
    font-family: "Playwrite DE Grund", cursive;
    transition: 0.5s;
}

form button:hover {
    letter-spacing: 5px;
    color: white;
    transition: 0.5s;
}

/*******************************************************/
footer {
    margin: auto;
    margin-top: 100px;
    color: white;
}

.footerbloc {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
    cursor: pointer;
}

.footerbloc div {
    flex-basis: 40%;
    border-bottom: 1px solid white;
}

.footerbloc .title {
    color: rgb(255, 27, 179);
}

.footerbloc div p {
    text-align: left;
    padding-top: 10px;
}

.footerbloc div a {
    text-decoration: none;
    color: white;
}

.footerbloc div ul {
    position: relative;
    right: 35px;
}

.footerbloc div ul li {
    display: inline-block;
    padding-left: 10px;
}

.footerbloc div ul li i {
    color: rgb(255, 27, 179);
}

.icon {
    background-color: rgb(255, 27, 179);
    color: white;
    text-align: center;
    padding: 5px;
}

.copy {
    text-align: right;
    font-size: xx-small;
}



@media screen and (max-width:950px) {
    section {
        width: 100%;
    }

    section div {
        flex-basis: 90%;
    }

    form {
        margin-top: 0px;
        margin-bottom: 50px;
    }

    .footerbloc div {
        flex-basis: 50%;
        margin-top: 20px;
    }
}

@media screen and (max-width:735px) {


    footer {
        margin-top: 100px;
    }

    .footerbloc div {
        flex-basis: 100%;
        margin-top: 10px;
    }

    .footerbloc div ul {
        position: relative;

    }

    .footerbloc div ul li {
        display: inline-block;
        padding: 0px;
    }
}

@media screen and (max-width:600px) {

    form input[type=text],
    [type=tel],
    [type=email],
    [type=number] {
        margin: auto;
        width: 95%;
        margin-top: 5px;
    }

    form select {
        width: 95%;
    }

    textarea {
        width: 95%;
    }

}