body {
    background-color: white;
    margin: auto;
    padding: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-family: "Playwrite DE Grund", cursive;
    font-optical-sizing: auto;

    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

header {
    padding: 10px;
    background-color: rgb(255, 27, 179);

}

/***************************************GESTION DU MENU******************************************* */
#mysidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: -300px;
    padding-top: 60px;
    transition: ease-in-out 0.5s;
    background-color: black;
    word-wrap: break-word;
}

#mysidenav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

#mysidenav ul li {
    padding-top: 15px;
}

#mysidenav ul li a {
    padding: 8px 8px 8px 10px;
    text-decoration: none;
    display: block;
    transition: 0.5s;
    color: white;
}

#mysidenav ul li a:hover {
    letter-spacing: 3px;
    transition: 0.5s;
}

#mysidenav h3 {
    display: block;
}

#mysidenav .close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    color: white;
}

#mysidenav .close:hover {
    font-size: 40px;
    color: white;
}

#openBtn {
    cursor: pointer;
    padding: 5px;
    display: none;
}

/********************************LE GRAND TITRE***********************************/
header h3 {
    color: white;
    text-align: center;
    font-size: small;
}

/**************************navigation*****************************************************************/
/*
.navigation {
 /* background-color: gray;
}
*/
.navigation nav {
    text-align: center;
}

.navigation nav ul {
    list-style-type: none;
}

.navigation nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 5px;
}

.navigation nav ul li a {
    text-decoration: none;
    color: rgb(255, 27, 179);
    transition: ease-in-out 0.5s;
    color: black;
}

.navigation nav ul li a:hover {
    border-bottom: 3px solid rgb(255, 27, 179);
    font-weight: bold;
    transition: ease-in-out 0.5s;
}

/***************************************fond accueil********************************/
.fond_accueil {
    box-sizing: content-box;
    overflow: hidden;
    text-align: center;
}

.fond_accueil h1 {
    color: white;
    font-size: 80px;
}

.font1 {
    padding: 30px;
    background: url("../album/fond.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    transition: 0.5s;
}

.font2 {
    padding: 30px;
    background: url("../album/jacek-dylag-jo8C9bt3uo8-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: 0.5s;
}


/*******************************arrivage  Nouvelle Collection*****************************************/
.arrivage {
    width: 95%;
    margin: auto;
    margin-top: 100px;
    box-sizing: content-box;
}

.arrivage h3 {
    color: gray;
    font-size: 60px;
}

.reduction {
    color: rgb(255, 27, 179);
}

.service {
    display: flex;
    justify-content: space-evenly;
}

.service div {
    flex-basis: 20%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    /* box-shadow: 0px 0px 5px rgb(170, 153, 164);*/
    box-shadow: 0px 0px 5px whitesmoke;
    background-color: gainsboro;
}

.service div h4 {
    font-size: 25px;
    color: gray;
}

.service div p {
    text-align: justify;
    color: white;
}

/*****************************baniereImageSlogan*******************************/
.baniereImageSlogan {
    margin-top: 100px;
    text-align: center;
}

.baniereImageSlogan h3 {
    font-size: 85px;
    color: white;
    text-transform: lowercase;
    word-wrap: break-word;
}

.carou1 {
    background-image: url("https://img.freepik.com/photos-gratuite/smiley-femme-tenant-sacs_23-2148312185.jpg?uid=R166125906&ga=GA1.1.22819257.1712160786&semt=ais_hybrid");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;

}

.carou2 {
    background-image: url("https://img.freepik.com/photos-gratuite/belle-femme-prenant-selfie_23-2148385671.jpg?uid=R166125906&ga=GA1.1.22819257.1712160786&semt=ais_hybrid");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}

.carou3 {
    background-image: url("https://img.freepik.com/photos-gratuite/smiley-femme-carte-sacs-provisions_23-2148312205.jpg?uid=R166125906&ga=GA1.1.22819257.1712160786&semt=ais_hybrid");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.carou4 {
    background-image: url("https://img.freepik.com/photos-gratuite/femme-plein-coup-se-relaxant-ordinateur-portable_23-2149073167.jpg?uid=R166125906&ga=GA1.2.22819257.1712160786&semt=ais_hybrid");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.carou5 {
    background-image: url("https://img.freepik.com/photos-gratuite/paiement-par-technologie-simple-sans-fil_23-2149105164.jpg?uid=R166125906&ga=GA1.2.22819257.1712160786&semt=ais_hybrid");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*********************************SECTION CONTENANT DIFFERENT ARTICLE************************/
section {
    margin: auto;
    padding: auto;
    width: 95%;
    margin-top: 50px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

section div {
    flex-basis: 20%;
    margin-top: 50px;
    padding: 10px;
    border-radius: 10px;
    /* box-shadow: 0px 0px 10px whitesmoke;*/
}

section div img {
    /* box-shadow: 0px 0px 10px gainsboro;*/
    border-radius: 10px;
    width: 150px;
    object-fit: cover;
    transition: ease-in-out 0.5s;
}

section div img:hover {
    width: 180px;
    transition: ease-in-out 0.5s;
}

section div h3 {
    color: gray;
}

.boxClass {
    background: whitesmoke;
    padding: 15px;
    border-radius: 15px;
    transition: 0.5s;
}

.prixBarre {
    text-decoration: line-through;
    color: rgb(255, 27, 179);
    padding-right: 10px;
}

.prix {
    font-size: 25px;
}

section div a {
    float: right;
    text-decoration: none;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid rgb(255, 27, 179);
    color: rgb(255, 27, 179);
    background-color: inherit;
    font-size: xx-small;
    transition: 0.5s;
}

section div a:hover {
    background-color: rgb(255, 27, 179);
    color: white;
    font-weight: bold;
    transition: 0.5s;
}



/*********************************************FOOTER*************************************************/
footer {
    margin: auto;
    margin-top: 100px;
    color: white;
}

.footerbloc {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
    cursor: pointer;
}

.footerbloc div {
    flex-basis: 40%;
    border-bottom: 1px solid white;
}

.footerbloc .title {
    color: rgb(255, 27, 179);
}

.footerbloc div p {
    text-align: left;
    padding-top: 10px;

}

.footerbloc div a {
    text-decoration: none;
    color: white;
}

.footerbloc div ul {
    position: relative;
    right: 35px;
}

.footerbloc div ul li {
    display: inline-block;
    padding-left: 10px;
}

.footerbloc div ul li i {
    color: rgb(255, 27, 179);
}

.icon {
    background-color: rgb(255, 27, 179);
    color: white;
    text-align: center;
    padding: 5px;
    transition: 0.5s;
}

.icon:hover {
    background-color: gray;
    transition: 0.5s;
}

.copy {
    text-align: right;
    font-size: xx-small;
}

@media screen and (max-width:1100px) {
    .service {
        flex-wrap: wrap;
    }

    .service div {
        flex-basis: 40%;
        margin-top: 10px;
    }

    section div {
        flex-basis: 40%;
    }
}

@media screen and (max-width:950px) {
    .baniereImageSlogan h3 {
        font-size: 90px;
    }

}

@media screen and (max-width:700px) {
    .baniereImageSlogan h3 {
        font-size: 70px;
    }
}

@media screen and (max-width:700px) {

    #openBtn {
        display: block;
        background-color: black;
        padding: 10px;
    }

    .navigation {
        display: none;
    }

    .fond_accueil h1 {
        color: white;
        font-size: 40px;
    }

    .arrivage h3 {
        color: gray;
        font-size: 40px;
    }

    .service div {
        flex-basis: 80%;
        margin-top: 30px;
    }

    .baniereImageSlogan h3 {
        font-size: 50px;
    }

    .boxClass {
        padding: 10px;
    }

    .footerbloc div {
        flex-basis: 90%;
    }
}